<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="../assets/js/main.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.6.1.min.js"></script>
    <script src="../js/sweetalert.min.js"></script>
    <script src="../js/conge.js"></script>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Login - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:insert="header :: header"></div>

<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:insert="sidebar :: sidebar"></div>

<main id="main" class="main">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">List Conges</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <div class="datatable-top">
                                <div class="datatable-dropdown">
                                    <label>
                                        <select th:onchange="findAllCongeByYears(this.value)" class="datatable-selector" name="exercices">
                                            <option th:each="exercice : ${exercices}"
                                                    th:value="${exercice}"
                                                    th:text="${exercice}"></option>
                                        </select> <b>  Années</b>
                                    </label>
                                </div>
                                <div class="datatable-dropdown">
                                    <label>
                                        <select th:onchange="findAllCongeByEtat(this.value)" class="datatable-selector" name="etats">
                                            <option th:each="etat : ${etats}"
                                                    th:value="${etat}"
                                                    th:text="${etat}"></option>
                                        </select><b>  Etats</b>
                                    </label>
                                </div>
                            </div>
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th data-type="date" data-format="YYYY/DD/MM">Date Debut</th>
                                <th data-type="date" data-format="YYYY/DD/MM">Date Fin</th>
                                <th data-type="date" data-format="YYYY/DD/MM">Date Rupture</th>
                                <th>Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:id="${conge.id}" th:each="conge: ${conges}">

                                <td th:text="${conge.description}"/>
                                <td th:text="${conge.dateDebut}"/>
                                <td th:text="${conge.dateFin}"/>
                                <td th:text="${conge.dateRupture}"/>
                                <td>
                                    <span th:if="${conge.etat.name() == 'SOLLICITE'}" class="badge bg-primary"
                                          th:text="${conge.etat}"></span>
                                    <span th:if="${conge.etat.name() == 'VALIDE'}" class="badge bg-success"
                                          th:text="${conge.etat}"></span>
                                    <span th:if="${conge.etat.name() == 'REFUSE'}" class="badge bg-danger"
                                          th:text="${conge.etat}"></span>
                                    <span th:if="${conge.etat.name() == 'ANNULE'}" class="badge bg-warning text-dark"
                                          th:text="${conge.etat}"></span>
                                    <span th:if="${conge.etat.name() == 'EN_COURS'}" th:text="${conge.etat}"></span>
                                    <span th:if="${conge.etat.name() == 'ARRETE'}" class="badge bg-secondary"
                                          th:text="${conge.etat}"></span>
                                    <span th:if="${conge.etat.name() == 'FINI'}" class="badge bg-dark"
                                          th:text="${conge.etat}"></span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/chart.js/chart.umd.js"></script>
<script src="../assets/vendor/echarts/echarts.min.js"></script>
<script src="../assets/vendor/quill/quill.js"></script>
<script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="../assets/vendor/tinymce/tinymce.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>