<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="../assets/js/main.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery-3.6.1.min.js"></script>
    <script src="../js/sweetalert.min.js"></script>
    <script src="../js/conge.js"></script>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Login - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">
<!--

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
-->


    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="~{header :: header}"></div>


<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="~{sidebar :: sidebar}"></div>

<!-- ======= End Sidebar ======= -->
<main id="main" class="main">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">List Conges</h5>

                        <!-- Table with stripped rows -->
                        <table class="table">
                            <div class="datatable-top">
                                <div class="datatable-dropdown">
                                    <label>
                                        <select th:onchange="findAllCongeByYears(this.value)" class="datatable-selector"
                                                name="exercices">
                                            <option value=""></option>
                                            <option th:each="exercice : ${exercices}"
                                                    th:value="${exercice}"
                                                    th:text="${exercice}"
                                                    th:selected="${exercice} == ${year}"
                                            ></option>
                                        </select> <b> Années</b>
                                    </label>
                                    &nbsp;&nbsp;
                                    <label>
                                        <select th:onchange="findAllCongeByEtat(this.value)" class="datatable-selector"
                                                name="etats">
                                            <option value=""></option>
                                            <option th:each="etat : ${etats}"
                                                    th:value="${etat}"
                                                    th:text="${etat}"
                                                    th:selected="${etat} == ${etatSelected}"
                                            ></option>
                                        </select><b> Etats</b>
                                    </label>
                                </div>
                                <div class="datatable-dropdown">
                                    <div th:if="${idEmploye}"  class="datatable-dropdown">
                                        <a  th:onclick="'verifSoldeConge(' + ${idEmploye} + ')'"  class="btn btn-primary rounded-pill">
                                            <i class="ri-add-circle-line">&nbsp; <b>Ajouter</b></i>
                                        </a>

                                    </div>



                                </div>
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Date Debut</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Date Fin</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Date Rupture</th>
                                    <th>Etat</th>
                                    <th></th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr th:id="${conge.id}" th:each="conge: ${conges}">
                                    <td th:text="${conge?.employe?.nom} + ' ' + ${conge?.employe?.prenom}"/>
                                    <td th:text="${conge.description}"/>
                                    <td th:text="${conge.dateDebut}"/>
                                    <td th:text="${conge.dateFin}"/>
                                    <td th:text="${conge.dateRupture}"/>
                                    <td>
                                    <a th:if="${conge.etat.name() == 'SOLLICITE'}" class="badge bg-primary" type="button"
                                          th:text="${conge.etat}" data-bs-toggle="modal"
                                       th:data-bs-target="${typePersonne == 'administrateur'} ? '#popUpSollicite' : '#popUpSolliciteEmploye'"
                                       th:data-conge-id="${conge.id}"></a>

                                        <span th:if="${conge.etat.name() == 'VALIDE'}" class="badge bg-success"
                                              th:text="${conge.etat}"></span>
                                        <span th:if="${conge.etat.name() == 'REFUSE'}" class="badge bg-danger"
                                              th:text="${conge.etat}"></span>
                                        <span th:if="${conge.etat.name() == 'ANNULE'}"
                                              class="badge bg-warning text-dark"
                                              th:text="${conge.etat}"></span>

                                        <a th:if="${conge.etat.name() == 'EN_COURS'}" class="badge bg-primary" type="button"
                                           th:text="${conge.etat}" data-bs-toggle="modal"
                                           th:data-bs-target="${typePersonne == 'administrateur'} ? '#popUpArretEmploye' : '#popUpSolliciteEmploye'"
                                           th:data-conge-id="${conge.id}"></a>
                                        <span th:if="${conge.etat.name() == 'ARRETE'}" class="badge bg-secondary"
                                              th:text="${conge.etat}"></span>
                                        <span th:if="${conge.etat.name() == 'FINI'}" class="badge bg-dark"
                                              th:text="${conge.etat}"></span>
                                    </td>
                                    <td>
                                        <div th:if="${idEmploye}" class="d-inline-block">
                                            <a th:onclick="'verifSoldeConge(' + ${conge.id} + ')'" class="btn btn-success rounded-pill">
                                                <i class="ri-edit-2-fill"></i>
                                            </a>
                                        </div>
                                        <div th:if="${idEmploye}" class="d-inline-block ml-2">
                                            <a th:onclick="'verifSoldeConge(' + ${conge.id} + ')'" class="btn btn-danger rounded-pill">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </td>

                                </tr>

                                </tbody>
                            </div>
                        </table>





                        <!-- The Modal -->
                        <div th:replace="~{pop_up_sollicite :: pop_up_sollicite}"></div>
                        <div th:replace="~{pop_up_solliciteEmploye :: pop_up_solliciteEmploye}"></div>
                        <div th:replace="~{pop_up_ArretEmploye :: pop_up_ArretEmploye}"></div>



                        <!-- Modal -->








                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/chart.js/chart.umd.js"></script>
<script src="../assets/vendor/echarts/echarts.min.js"></script>
<script src="../assets/vendor/quill/quill.js"></script>
<script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="../assets/vendor/tinymce/tinymce.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>

</body>

</html>