
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">


        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-person"></i>
                <span>Utilisateur</span>
            </a>
        </li>

         <li class="nav-item">
            <a class="nav-link collapsed" th:href="'/conge/findAllConge'">
                <i class="bi bi-menu-button-wide"></i>
                <span>Conge</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/utilisateur/logout}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Déconnexion</span>
            </a>
        </li><!-- End Login Page Nav -->




    </ul>

</aside>
</body>
</html>